fastapi
uvicorn[standard]
SQLAlchemy
aiomysql
redis
httpx
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
pydantic-extra-types
phonenumbers
python-multipart
email-validator
APScheduler
python-dotenv

# Testing dependencies
pytest
pytest-asyncio
httpx
pytest-cov
aiosqlite
