fastapi
uvicorn[standard]
SQLAlchemy
aiomysql
redis
httpx
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
pydantic-extra-types
phonenumbers
python-multipart
email-validator
APScheduler
python-dotenv
aiofiles

# Testing dependencies
pytest
pytest-asyncio
httpx
pytest-cov
aiosqlite
testcontainers[mysql]>=4.14.0
pymysql
alibabacloud-dysmsapi20170525==2.0.0